// Button base styling

@mixin button-base-style {
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 17px;
  color: $white;
  background-color: $colour-foot-btn;
  border: 1px solid transparent;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: $font-weight--medium;
  letter-spacing: $base--letter-spacing;
  line-height: 35px;
  cursor: pointer;
}

// Button arrow styling

@mixin button-icon {
  svg {
    display: inline;
    vertical-align: middle;
    fill: $white;
    width: 21px;
    height: 35px;
    margin-left: 12px;
  }
}

// Scrolling logo effect to emulate owl carousel without using JS
@mixin logo-scrollbars {
  //Use overflow-x and make it a scroll container to emulate JS functionality without actually using JS
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin: 50px 0;
 
  // Hide scrollbar 
  // Chrome/Safari/Opera
  &::-webkit-scrollbar {
    display: none;
  }
  //Firefox/Edge
  -ms-overflow-style: none;
  scrollbar-width: none;

  // Grey base image styling that colourises when hovered (nb using __img tag here does make it slightly limited in scope but i think it's simpler this way as i'm only using the mixin twice)
  & [class*="--img"] {
    filter: grayscale(100);
    margin: 0 50px;
    height: 70px;
    width: auto;

    &:hover {
      filter: none;
    }
  }
}