//COME BACK TO THIS -- IT DOESN'T WORK. might need a rewrite entirely or just tweaking

.case-studies {
  @include logo-scrollbars;
  //overflow: clip;
  max-height: 170px;

  &__content {
    position: relative;
    //overflow: visible;

    &--img {
      max-height: 70px;
      max-width: 200px;
      height: auto;
      object-fit: contain;
    }

    &--text {
      display: block;
      visibility: hidden; 
      width: 200px;
      background-color: $colour-foot-btn;
      color: $white;
      text-align: center;
      padding: 5px;
      border: 1px solid transparent;
      border-radius: 1px;
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: 100px;
    }

    &--img:hover ~ &--text { //this bit doesn't work, start here tomorrow
        visibility: visible;
        opacity: 1;
        
    }
  }
  
}

/* ideas for how to implement pop up boxes:
- include html content with same class as a p for each company
- set display: none
- set to appear above with :hover (this bit will take some work as i basically have no idea how)
*/