//COME BACK TO THIS -- IT DOESN'T WORK. might need a rewrite entirely or just tweaking

.case-studies {
  @include logo-scrollbars;
  //overflow: clip;

  &__content {
    position: relative;
    

    &--img {
      max-height: 70px;
      max-width: 200px;
      height: auto;
      object-fit: contain;
    }

    &--text {
      display: block;
      visibility: hidden; 
      opacity: 0;
      transition: opacity 0.1s;
      width: 200px;
      background-color: $colour-foot-btn;
      color: $white;
      text-align: center;
      padding: 5px;
      border: 1px solid transparent;
      border-radius: 1px;
      position: absolute;
      z-index: 100;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 10px;
    }

    &--img:hover ~ &--text { 
        visibility: visible;
        opacity: 1;
    }
  } 
}