.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 0;
  
  a { text-decoration: none; }

  &--row {
    display: flex;
    align-items: center;
    width: 100%;
    
    @media (min-width: $brk--sm) {
      justify-content: space-between;
      gap: 20px;
    }
  }

  &__logo {
    display: flex;
    max-width: 62.5%;
    align-items: center;
    margin-right: auto;
    img {
      width: 100%;
    }

    @media (min-width: $brk--sm) {
      max-width: 48%;
    }

    @media (min-width: $brk--md) {
      max-width: 32%;
    }
  }

  &__icon {
    @include icons;
    margin: 0 0 0 10px;
    align-items: center;
    svg {
      fill: $colour-foot-btn;
    }

    @media (min-width: $brk--sm) {
      display: none;
    }
  }
  
  &__button {
    @include button-base-style;
    @include service-colors;
    @include button-hover;
    background-color: var(--color);
    display: flex;
    align-items: center;
    padding: 10px 15px 10px 5px;
    font-size: 1.125rem;
    border-radius: 3px;
    letter-spacing: 1px;
    margin-bottom: 0;
    
    &--icon {
      @include icons;
      height: 100%;
      width: 100%;
      padding: 0;
      svg {
        height: 23px;
        width: 37px;
        margin: 0;
      }
    }

    display: none;

    @media (min-width: $brk--md) {
      display: flex;
    }
  }

  &__searchbar {
    &--desktop {
      display: none;


      @media (min-width: $brk--sm) {
        @include header-searchbar-mobile;
        @include header-searchbar-desktop;
      }

      @media (min-width: $brk--md) {
        @include header-searchbar-mobile;
        @include header-searchbar-desktop;
        width: 300px;
      }
    }

    &--mobile {
      @include header-searchbar-mobile;

      @media (min-width: $brk--sm) {
        display: none;
      }
    }
  }

  &__menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: $pauper;
    height: 56px;
    padding: 10px 15px;
    border-radius: 3px;

    &--bar {
      width: 33px;
      height: 4px;
      margin: 3px 0;
      background-color: $white;
      justify-content: center;
    }
  }
}