.container-welcome {
  padding: 0;
}

.welcome {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  font-size: 1em;
  background-color: $colour-foot-bg;
  position: relative;
  letter-spacing: $base--letter-spacing;
  padding: 50px 15px;
  color: $white;
  line-height: 1.875rem;    

  & h1 {
    font-size: 2.25rem;
    font-weight: $font-weight--bold;
    line-height: 1.1;
    margin-bottom: 40px;
  }

  & p {
    margin-top: 0;
    margin-bottom: 26px;
    }
  &__text {
    & a {
      cursor: pointer;
    }

    &--button {
      @include button-base-style;
      & svg {
        display: inline;
        vertical-align: middle;
        fill: $white;
        width: 21px;
        height: 35px;
        margin-left: 12px;
      }
    }
  }


  &__clients {
    &--stars {
      svg {
        display: inline;
        width: 50px;
        height: 50px;
        stroke: orange;
        fill: orange;
      }
    }

    &--quote {
      font-style: italic;
      font-size: 1.3rem;
      font-weight: $font-weight--bold;
    }

    &--quote-attrib {
      font-weight: $font-weight--bold;
      color: $ironbreaker-metal;
      font-size: 1.1rem;
      & a {
        text-decoration: none;
        color: $white;
      }
    }

    &--btn-review {
      @include button-base-style;
      @include button-icon;

      @media (min-width: $brk--lg) {
        display: inline-flex;
        padding: 10px 24px;
      }
    }

    &--btn-google {
      background-color: $seljuk-blue;

      @media (min-width: $brk--lg) {
        margin-right: 5px;
      }
    }

    &--btn-trustpilot {
      background-color: $fennel-fiesta;
    }
  }

  &__text, &__clients {
    @media (min-width: $brk--sm) {
      padding: 0 15px;
    }

    @media (min-width: $brk--md) {
      flex: 0 0 auto;
      max-width: 50%;
      padding: 0 15px;
    }

    @media (min-width: $brk--lg) {
      max-width: 600px;
    }
  }

  @media (min-width: $brk--lg) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 1200px;
      padding: 50px 15px;
      margin: 0 auto;
  } 
}
